In [1]:
import tensorflow as tf
from tensorflow import keras
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [3]:
np.random.seed(42)

In [4]:
import pandas as pd
import sklearn

In [9]:
# Loading files from the Doorbell Dataset

db_benign = pd.read_csv("C:\\Users\\KISHALAY\\Desktop\\tensorflow dataset\\Doorbell\\benign_traffic.csv", sep = ',')
db_tcp = pd.read_csv("C:\\Users\\KISHALAY\\Desktop\\tensorflow dataset\\Doorbell\\tcp.csv", sep = ',')
db_combo = pd.read_csv("C:\\Users\\KISHALAY\\Desktop\\tensorflow dataset\\Doorbell\\combo.csv", sep = ',')
db_junk = pd.read_csv("C:\\Users\\KISHALAY\\Desktop\\tensorflow dataset\\Doorbell\\junk.csv", sep = ',')
db_scan = pd.read_csv("C:\\Users\\KISHALAY\\Desktop\\tensorflow dataset\\Doorbell\\scan.csv", sep = ',')
db_udp = pd.read_csv("C:\\Users\\KISHALAY\\Desktop\\tensorflow dataset\\Doorbell\\udp.csv", sep = ',')

In [10]:
db_tcpudp = db_tcp.append([db_udp],ignore_index=True)

In [11]:
db_merge = db_benign.append([db_tcpudp, db_combo, db_junk, db_scan],ignore_index=True)
db_merge['device'] = 'doorbell'
db_merge.head()

,MI_dir_L5_weight,MI_dir_L5_mean,MI_dir_L5_variance,MI_dir_L3_weight,MI_dir_L3_mean,MI_dir_L3_variance,MI_dir_L1_weight,MI_dir_L1_mean,MI_dir_L1_variance,MI_dir_L0.1_weight,...,HpHp_L0.1_pcc,HpHp_L0.01_weight,HpHp_L0.01_mean,HpHp_L0.01_std,HpHp_L0.01_magnitude,HpHp_L0.01_radius,HpHp_L0.01_covariance,HpHp_L0.01_pcc,type,device
0,1.000000,60.000000,0.000000,1.000000,60.000000,0.000000,1.000000,60.000000,0.000000,1.000000,...,0.0,1.000000,60.000000,0.000000,60.000000,0.000000,0.0,0.0,benign,doorbell
1,1.000000,354.000000,0.000000,1.000000,354.000000,0.000000,1.000000,354.000000,0.000000,1.000000,...,0.0,5.319895,344.262695,4.710446,344.262695,22.188299,0.0,0.0,benign,doorbell
2,1.857879,360.458980,35.789338,1.912127,360.275733,35.923972,1.969807,360.091968,35.991542,1.996939,...,0.0,6.318264,347.703087,9.034660,347.703087,81.625077,0.0,0.0,benign,doorbell
3,1.000000,337.000000,0.000000,1.000000,337.000000,0.000000,1.000000,337.000000,0.000000,1.000000,...,0.0,1.000000,337.000000,0.000000,337.000000,0.000000,0.0,0.0,benign,doorbell
4,1.680223,172.140917,18487.448750,1.793580,182.560279,18928.175300,1.925828,193.165753,19153.795810,1.992323,...,0.0,1.000000,60.000000,0.000000,60.000000,0.000000,0.0,0.0,benign,doorbell

In [12]:
pd.crosstab(db_merge.type, columns = 'type')

col_0      type
type
 combo    59718
 junk     29068
 scan     29849
benign    49548
tcp udp  198015

In [13]:
# Loading files from the Thermostat dataset

ts_benign = pd.read_csv("C:\\Users\\KISHALAY\\Desktop\\tensorflow dataset\\Thermostat\\benign_traffic.csv", sep = ',')
ts_tcp = pd.read_csv("C:\\Users\\KISHALAY\\Desktop\\tensorflow dataset\\Thermostat\\tcp.csv", sep = ',')
ts_combo = pd.read_csv("C:\\Users\\KISHALAY\\Desktop\\tensorflow dataset\\Thermostat\\combo.csv", sep = ',')
ts_junk = pd.read_csv("C:\\Users\\KISHALAY\\Desktop\\tensorflow dataset\\Thermostat\\junk.csv", sep = ',')
ts_scan = pd.read_csv("C:\\Users\\KISHALAY\\Desktop\\tensorflow dataset\\Thermostat\\scan.csv", sep = ',')
ts_udp = pd.read_csv("C:\\Users\\KISHALAY\\Desktop\\tensorflow dataset\\Thermostat\\udp.csv", sep = ',')

In [14]:
ts_tcpudp = ts_tcp.append([ts_udp],ignore_index=True)

In [15]:
ts_merge = ts_benign.append([ts_tcpudp, ts_combo, ts_junk, ts_scan],ignore_index=True)
ts_merge['device'] = 'thermostat'
ts_merge.head()

,MI_dir_L5_weight,MI_dir_L5_mean,MI_dir_L5_variance,MI_dir_L3_weight,MI_dir_L3_mean,MI_dir_L3_variance,MI_dir_L1_weight,MI_dir_L1_mean,MI_dir_L1_variance,MI_dir_L0.1_weight,...,HpHp_L0.1_pcc,HpHp_L0.01_weight,HpHp_L0.01_mean,HpHp_L0.01_std,HpHp_L0.01_magnitude,HpHp_L0.01_radius,HpHp_L0.01_covariance,HpHp_L0.01_pcc,type,device
0,1.000000,60.000000,0.000000,1.000000,60.000000,0.000000,1.000000,60.000000,0.000000,1.000000,...,0.0,1.000000,60.000000,0.000000,60.000000,0.000000,0.0,0.0,benign,thermostat
1,1.000000,110.000000,0.000000,1.000000,110.000000,0.000000,1.000000,110.000000,0.000000,1.000000,...,0.0,1.238636,106.146795,7.887770,106.146795,62.216910,0.0,0.0,benign,thermostat
2,1.724055,91.439104,249.441812,1.823878,92.454965,253.612868,1.937463,93.483558,255.733288,1.993563,...,0.0,1.000000,78.000000,0.000000,78.000000,0.000000,0.0,0.0,benign,thermostat
3,1.000000,342.000000,0.000000,1.000000,342.000000,0.000000,1.000000,342.000000,0.000000,1.000000,...,0.0,2.487473,341.959189,7.347919,341.959189,53.991908,0.0,0.0,benign,thermostat
4,2.516815,90.867308,150.827639,2.688981,91.541993,160.705060,2.888469,92.277536,169.944112,2.988463,...,0.0,2.237519,98.930412,9.942635,98.930412,98.855983,0.0,0.0,benign,thermostat

In [16]:
pd.crosstab(ts_merge.type, columns = 'type')

col_0      type
type
benign    13113
combo     53012
junk      30312
scan      27494
tcp udp  199812

In [17]:
tsdb_merge = db_merge.append([ts_merge],ignore_index=True)

In [18]:
pd.crosstab(tsdb_merge.type, columns = 'type')

col_0      type
type
 combo    59718
 junk     29068
 scan     29849
benign    62661
combo     53012
junk      30312
scan      27494
tcp udp  397827